@import 'variables.scss';

.container {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex: 1;
  background-color: $color-primary;
  min-height: $unit * 50;
}

.products-list {
  display: flex;
  flex: 1;
  background-color: $color-secondary;
  min-height: $unit * 50;
}

.news {
  display: flex;
  flex: 1;
  background-color: $color-theardth;
  min-height: $unit * 50;
}

span {
  font-family: Verdana;
  margin: auto;
  padding: $unit * 2;
  border-radius: $unit;
  background-color: $color;
  text-transform: lowercase;
}

@include for-extra-small {
  .products {
    flex-direction: row;
  }
}

@include for-large-up {
  .container {
    display: flex;
    flex-direction: row;
  }
  .products {
    flex: 2;
  }
}
