.main_div {
  display: flex;
}

.buttom_div {
  width: 200px;
  height: 50px;
  margin: 64px;
  text-align: center;
  background-color: coral;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  outline: none;
  border: none;
  line-height: 50px;
  cursor: pointer;
}

.buttom_div:hover {
  color: darkcyan;
}

.svg_images {
  width: 32px;
  height: 32px;
  fill: white;
  vertical-align: middle;
}

.buttom_div:hover > .svg_images {
  fill: green;
}

.span {
  display: inline-block;
  margin-left: 8px;
}
